.jumbotron{
	background-image: url(/img/jumbotron-bg.jpg);
  	background-size: cover;
	color: white; 
	margin-top: 50px;
}

.btn{
	background-color: orange;
	color: white;
	border-radius: 10px;
}
.btn-project{
	width: 100%;
	border-radius: 15px;
}
.project-card{
	flex: 1 150px;
	margin-bottom: 10px; 
	margin-top: 10px;
}
.mycard-header{
	text-align: center;
	background-color: orange;
	color: white;
	font-weight: bold;

}

.myicon{
	padding: 3px 3px 3px 3px;
}

.tab-content{
	padding-top: 10px; 
}
.carousel{
	margin-bottom: 20px;
}

footer{
	padding: 10px 10px 0 10px;
	background-color: orange;
	margin-top: 10px; 
	margin-bottom: 10px;
}