$darkOrange: #F58A07;
$lightOrange: #F9AB55;
$onyxGrey: #3D3D3D;
$White: #FFFFFF;
$Black: #101010;
@import '../scss/fontawesome.scss','../scss/solid.scss','../scss/regular.scss';

@mixin mrg($top, $bottom){
	margin-top: $top;
	margin-bottom: $bottom; 
}

.jumbotron{
	background-image: url(/img/jumbotron-bg.jpg);
  	background-size: cover;
	color: $Black; 
	@include mrg (50px,25px);
}

.btn{
	background-color: $lightOrange;
	color: $onyxGrey;
	border-radius: 10px;

}
.btn-project{
	width: 100%;
	border-radius: 15px;
}
.project-card{
	flex: 1 150px;
	margin-bottom: 10px; 
	@include mrg(10px,0px)
}
.mycard-header{
	text-align: center;
	background-color: $onyxGrey;
	color: $White;
	font-weight: bold;

}

.myicon{
	padding: 3px 3px 3px 3px;
}

.tab-content{
	padding-top: 10px; 
}
.carousel{
	margin-bottom: 20px;
}

footer{
	padding: 10px 10px 0 10px;
	background-color: $lightOrange;
	@include mrg(10px,10px);
}